#desktop-header-1 {
  font-size: xx-large;
  padding: 10px 0;
}
.watchlist-item {
  --padding-start: 8px;
  --padding-end: 8px;
  --inner-border-width: 0;
}

.title-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.details-row {
  font-size: 0.9rem;
  color: #d3d3d3;
}

ion-button {
  --border-radius: 12px;
}

ion-item {
  background: #222;
  margin-bottom: 8px;
  border-radius: 12px;
}
